body {
    background: #E5E5E5;
}
.app{
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-container{
    height: 569px;
    width: 1000px;
    margin-top: 17px;
    background: rgba(242, 244, 244, 0.69);
    border-radius: 1px;
}
